<div class="jumbotron">
  <h4 class="">compose new Email</h4>
  <div class="form">
    <div class="form-group">
      <label class="emailto">Email To</label>
      <input
        type="email"
        name="emailto"
        id="emailto"
        data-role="tagsinput"
        placeholder="Enter email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div class="form-group">
          <label class="emailto">Email To</label>
          <input
            type="email"
            name="emailto"
            id="emailto"
            data-role="tagsinput"
            placeholder="Enter email"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form">
        <div class="form-group">
          <label class="emailto">Email To</label>
          <input
            type="email"
            name="emailto"
            id="emailto"
            data-role="tagsinput"
            placeholder="Enter email"
          />
        </div>
      </div>
    </div>
  </div>
</div>
